#! /bin/bash -l 

module load singularity

source /software/projects/mwasci/smantovanini/GLEAM-X-pipeline/GLEAM-X-pipeline-garrawarla.profile

set -x 

pipeuser=PIPEUSER
obsnum=OBSNUM

#Calculate the mean pointing.
pos=$(singularity exec /software/projects/mwasci/gleamx_testing_small.img calc_mean_pos.py --filter-obsids "$obsnum" --ra-field RA --dec-field DEC --refine-position ./*/*.metafits )

if [ -z $ra ]
then
    ra=$(echo "${pos}" | cut -d ' ' -f1)
fi

if [ -z $dec ]
then
    dec=$(echo "${pos}" | cut -d ' ' -f2)
fi

radec_pos=$(singularity exec /software/projects/mwasci/gleamx_container.img dd_hms_dms.py ${ra} ${dec} -d "hms")

# If obsnum is a file, then we are in an array job
if [[ -f "${obsnum}" ]]
then
    taskid="${SLURM_ARRAY_TASK_ID}"
    jobid="${SLURM_ARRAY_JOB_ID}"

    echo "obsfile ${obsnum}"
    refobs=$(sed -n -e "1"p "${obsnum}")
    obsnum=$(sed -n -e "${SLURM_ARRAY_TASK_ID}"p "${obsnum}")
    echo "image obsid ${obsnum}"
else
    taskid=1
    jobid="${SLURM_JOB_ID}"
fi

echo "jobid: ${jobid}"
echo "taskid: ${taskid}"

# Set version number
base=BASEDIR
debug=DEBUG

# Update database
cd "${base}" || exit

datadir="${base}/${obsnum}"
cd "${datadir}" || exit

#File that i have to use in python run
metafits="$(ls -t ${obsnum}*metafits* | head -1)"
delx="$(ls -t ${obsnum}*delx* | head -1)"
dely="$(ls -t ${obsnum}*dely* | head -1)"

#Create dl,dm screens into a format IDG can use
singularity exec /software/projects/mwasci/gleamx_testing_small.img /scratch/pawsey0272/smantovanini/IDG/Make_aterm_files.py -x ${delx} -y ${dely} --dfl 819 --dfd 819 --pad 0.2 --abs-pad 205 -o ${base}/${obsnum}/${obsnum} -m ${metafits} -a 128

#TO BE CHANGED. WANT THEM TO MATCH AN AVARAGE VALUE.
#Match phase centre to first obsid centre
#phasecentre=$(singularity exec /software/projects/mwasci/gleamx_testing_small.img calc_pointing.py "${base}/${refobs}/${refobs}.metafits")
 
singularity exec /software/projects/mwasci/gleamx_testing_small.img chgcentre "${obsnum}.ms" ${radec_pos}
