#! /bin/bash -l

#set -x
source /software/projects/mwasci/smantovanini/GLEAM-X-pipeline/GLEAM-X-pipeline-garrawarla.profile

pipeuser=PIPEUSER
channel=CHANNEL
raregion=RAREGION
basedir=BASEDIR
remote=REMOTE
endpoint='146.118.68.233' #HOST is already used as a keyword in other script
user='ubuntu'
declination=DECLINATION

# Copying everything on acacia
trap 'echo "Requeuing job."; scontrol requeue $SLURM_JOB_ID;' INT
module load rclone
#/1.59.2
#1.62.2

cd $basedir || (echo "cd to ${basedir} failed" && exit 1) 
#srun tar -czvf ./D${declination}_RA${raregion}_C${channel}.tar.gz *

# Copying to acacia
#srun rclone sync -P --transfers 4 --checkers 4 ./D${declination}_RA${raregion}_C${channel}.tar.gz acacia:smantovanini/


# Copying back to Garrawarla
#srun rclone sync -P --transfers 4 --checkers 4 --local-no-set-modtime acacia:smantovanini/D${declination}_RA${raregion}_C${channel}_midpro.tar.gz ./
srun rclone sync -P --transfers 4 --checkers 4 --local-no-set-modtime acacia:smantovanini/D${declination}_RA${raregion}_C${channel}.tar.gz ./
#srun tar -xvzf D${declination}_RA${raregion}_C${channel}_midpro.tar.gz
srun tar -xvzf D${declination}_RA${raregion}_C${channel}.tar.gz
