#! /bin/bash -l

# A template script to generate a model of a-team sources that will be subtracted
# from the visibility dataset. The idea is to make small images around a-team sources
# which that than subtracted from the visibilities. We are using wsclean to first chgcenter
# and the clean a small region arount the source. This is then subtracted from the 
# column (DATA or CORRECTED_DATA). 

set -x

pipeuser=PIPEUSER
obsnum=OBSNUM
debug=DEBUG

# If obsnum is a file, then we are in an array job
if [[ -f "${obsnum}" ]]
then
    taskid=${SLURM_ARRAY_TASK_ID}
    jobid=${SLURM_ARRAY_JOB_ID}

    echo "obsfile ${obsnum}"
    obsnum=$(sed -n -e "${SLURM_ARRAY_TASK_ID}"p "${obsnum}")
    echo "uvsubtract obsid ${obsnum}"
else
    taskid=1
    jobid=${SLURM_JOB_ID}
fi

echo "jobid: ${jobid}"
echo "taskid: ${taskid}"

# Which data column to image
if [[ ! -z $debug ]]
then
    datacolumn="CORRECTED_DATA"
else
    datacolumn="DATA"
fi

function test_fail {
if [[ $1 != 0 ]]
then
    track_task.py fail --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
    exit "$1"
fi
}

track_task.py start --jobid="${jobid}" --taskid="${taskid}" --start_time="$(date +%s)"

datadir=DATADIR
cd "${datadir}/${obsnum}" || exit

metafits="${obsnum}.metafits"
if [[ ! -e ${metafits} ]] || [[ ! -s ${metafits} ]]
then
    wget -O "${metafits}" "http://ws.mwatelescope.org/metadata/fits?obs_id=${obsnum}"
    test_fail $?
fi

# Check whether the phase centre has already changed
# Calibration will fail if it has, so measurement set must be shifted back to its original position
current=$(chgcentre "${obsnum}.ms")

if [[ $current == *"shift"* ]]
then
    echo "Detected that this measurement set has undergone a denormal shift; this must be undone before subtrmodel."
    coords=$(calc_pointing.py "${metafits}")
    echo "Optimally shifting co-ordinates of measurement set to $coords, without zenith shiftback."
    chgcentre \
            "${obsnum}.ms" \
            ${coords}
else
    echo "Detected that no shift is needed for this measurement set."
fi

#I want to remove CenA from my images.
get_mwa_pb_lobes.py ${metafits} -mM > ${obsnum}_mainlobes.txt
ra_mainlobe=$(cat ${obsnum}_mainlobes.txt | awk '{print $2}')
dec_mainlobe=$(cat ${obsnum}_mainlobes.txt | awk '{print $3}')

cena_fov=$(python /software/projects/mwasci/smantovanini/GLEAM-X-pipeline/gleam_x/db/check_src_fov.py -p ${ra_mainlobe} ${dec_mainlobe} -s "CenA")

taql alter table ${obsnum}.ms drop column MODEL_DATA

#Starting from here. Change phase centre to match source coords.
chgcentre ${obsnum}.ms 13h25m27.600s -43d01m09s
chgcentre -zenith -shiftback ${obsnum}.ms

wsclean -mgain 0.8 -abs-mem 150 -nmiter 10 -niter 100000 -size 600 600 -pol XXYY -data-column ${datacolumn} -name outlierCena -scale 10arcsec -weight briggs 0.5  -auto-mask 3 -auto-threshold 1  -join-channels -channels-out 64 -fit-spectral-pol 4 ${obsnum}.ms

taql update ${obsnum}.ms set ${datacolumn}=${datacolumn}-MODEL_DATA

echo "Removing outlier files"
#rm *outlier*fits

#Need to remove the "shift" otherwise will break the idg wsclean call
current=$(chgcentre "${obsnum}.ms")

if [[ $current == *"shift"* ]] 
then
    echo "Detected that this measurement set has undergone a denormal shift; this must be undone before subtrmodel."
    coords=$(calc_pointing.py "${metafits}")
    echo "Optimally shifting co-ordinates of measurement set to $coords, without zenith shiftback."
    chgcentre \
            "${obsnum}.ms" \
            ${coords}
else 
    echo "Detected that no shift is needed for this measurement set."
fi

track_task.py finish --jobid="${jobid}" --taskid="${taskid}" --finish_time="$(date +%s)"
