#! /bin/bash -l 

module load singularity

source /software/projects/mwasci/smantovanini/GLEAM-X-pipeline/GLEAM-X-pipeline-garrawarla.profile

set -x 

pipeuser=PIPEUSER
obsnum=OBSNUM
project=PROJECT

df -h | grep /nvmetmp

#Saving screens in array
mss=()
while IFS= read -r line; 
do 
    cp -rf ${GXSCRATCH}/$project/${line}/${line}.ms /nvmetmp/
    mss+=("/nvmetmp/${line}.ms"); 
done < ${obsnum}

array=()
while IFS= read -r line; do array+=("$line"); done < ${obsnum}
for element in ${array[@]}
do
screens="${screens} ${GXSCRATCH}/$project/${element}/${element}_dldm.fits"
done

taskid=1
jobid="${SLURM_JOB_ID}"

echo "jobid: ${jobid}"
echo "taskid: ${taskid}"

# Set version number
base=BASEDIR
debug=DEBUG

# Update database
cd "${base}" || exit

#Then, make a-term configuration file that IDG uses to work out what files to use and how to use them
singularity exec /software/projects/mwasci/gleamx_testing_small.img /software/projects/mwasci/smantovanini/GLEAM-X-pipeline/gleam_x/bin/Make_aterm_config.py --beam --outname ${base}/aterm-all.cfg --dldm "${screens}" --window rectangular

#Running wsclean:
multiscale="-multiscale -mgain 0.85 -multiscale-gain 0.15"

#Using threshold of 0.5 as good time compromise 
singularity exec --nv -B /pawsey/mwa/,/nvmetmp/ /scratch/pawsey0272/smantovanini/IDG/gpu_stuff.img wsclean \
        -abs-mem 150 \
        $multiscale \
        -nmiter 4 \
        -niter 10000000 \
        -use-wgridder \
        -mwa-path /pawsey/mwa/ \
        -auto-mask 3 \
        -auto-threshold 0.5 \
        -name all_deep_ms-ro \
        -size 7000 7000 \
        -scale 0.00355 \
        -weight briggs -0.25 \
        -pol I \
        -join-channels \
        -channels-out 4 \
        -save-source-list \
        -fit-spectral-pol 2 \
        -data-column "CORRECTED_DATA" \
        -use-idg \
        -idg-mode "hybrid" \
        -aterm-config "${base}/aterm-all.cfg" \
        -aterm-kernel-size 256 \
        -temp-dir /nvmetmp/ \
        "${mss[@]}" | tee wsclean.log

while IFS= read -r line;
do
    rm -rf ./${line}/${line}.ms && cp -rf /nvmetmp/${line}.ms ./${line}/
done
